.intro {
    text-align: center;
    font-size: larger;
    position: relative;
    min-height: 100vh;
}
.content-wrap {
    padding-bottom: 2.5rem;
}
.footer {
    position: relative;
    bottom: auto;
    width: 100%;
    height: 2.5rem;
}

body {
    background-color: lightblue;
}

.titleHeader {
    text-align: center;
    font-size: 34px;
}

easyJob {
    float: left;
}

weatherAPI {
    float: right;
}

.projects {
    text-align: center;
    text-decoration: underline;
    padding-bottom: 2.5rem;
}
.button {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.easy {
    margin: auto;
    padding: auto;
    text-align: center;
}